In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
from _src import PublicAnalysis,PublicPredictor

In [3]:
file_path = "data/apt_all.xlsx"
pa = PublicAnalysis(file_path)

In [4]:
pa.set_init()
pa.meter_year.iloc[:, :10]

,아파트1-104-1206,아파트1-104-303,아파트1-104-1307,아파트1-104-1208,아파트1-104-408,아파트1-104-203,아파트1-103-1402,아파트1-103-402,아파트1-103-1201,아파트1-103-801
1,99,10,23,40,39,197,218,228,84,223
2,94,77,18,135,30,192,201,230,154,188
3,96,77,20,169,28,216,231,241,247,232
4,75,76,30,127,58,217,226,232,250,209
5,165,150,161,7,75,164,216,224,200,189
6,186,148,108,6,48,182,211,225,192,192
7,292,136,273,6,52,247,375,306,253,287
8,311,7,240,6,49,318,390,345,271,319
9,173,7,98,6,41,231,214,239,183,193
10,149,7,30,8,35,200,202,209,193,224
11,21,2,0,7,17,197,209,178,190,210
12,21,2,24,16,41,178,232,190,186,218

In [5]:
meter_year = pa.meter_year.copy()

In [6]:
pa.select_month(1)
month_df = pa.meter_month.copy()

In [7]:
_month = 1
pp = PublicPredictor(
                month_df,
                _month,
                public_percentage=30
            ).min_chk()

In [8]:
pp.predict

[10190608.999999998, 10188450.0, 2158.9999999981374]

In [9]:
pa.set_bill_table()

In [10]:
pa.bill_table.get

             기본요금     전력량요금   기후환경요금  연료비조정액    부가가치세  전력산업기반기금    최종청구금액
APT       2411880  18198948  1170518  801970  2258252    831820  25671000
세대부        684710  11556469   818535  560760  1362052    501870  15482550
공용부       1727170   6642479   351983  241210   896200    329950  10188992
실제 공용부 값        0         0        0       0        0         0  10188450
오차              0         0        0       0        0         0       542

In [11]:
import random as ran
import pandas as pd
import numpy as np

pp_test = list()
pp_record = list()

for _ in range(0,1000):
    n = ran.randrange(50, len(pa.meter_year.columns) + 1)
    _m = pa.meter_year.sample(n=n, axis=1)
    _month = ran.randrange(1, 13)
    
    month_df = pd.DataFrame(_m.loc[_month])
    month_df.reset_index(inplace=True)
    month_df.columns = ['name', 'usage (kWh)']
    
    PUBLIC_PERCENTAGE = ran.randrange(10, 60)
    households_kWh = month_df['usage (kWh)'].sum()
    APT = round((households_kWh * 100) / (100 - PUBLIC_PERCENTAGE))
    
    pp = PublicPredictor(
                    month_df,
                    _month,
                    kwh=APT
                ).min_chk()
    pp_result = pp.predict
    
    pp_test.append(pp_result[2])
    pp_record.append(pp)
    
pp_test = np.array(pp_test)

In [15]:
err_idx = pp_test.argmax()

In [17]:
pp_record[err_idx].basic

1880070

In [ ]:
public_analysis = PublicAnalysis()