In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
from _src import SimpleDistributor, GroupDistributor

### SimpleDistributor

In [3]:
file_path = "data/apt_1.xlsx"

simple_dist = SimpleDistributor(file_path=file_path)

In [4]:
simple_dist.set_init()
simple_dist.select_month(1)

In [9]:
simple_dist.set_cont()
simple_dist.set_calc(public_percentage=30)
simple_dist.distribute_table()

,가구명,공용부요금,기여도,기여도 기본요금,기여도 전력량요금,나머지 요금,기여도 요금,오차
0,아파트1-104-1206,24444,0.003183,1462.0,5704.0,3598.277778,10764.0,13680.0
1,아파트1-104-303,24444,0.000322,148.0,576.0,3598.277778,4322.0,20122.0
2,아파트1-104-1307,24444,0.000739,340.0,1325.0,3598.277778,5263.0,19181.0
3,아파트1-104-1208,24444,0.001286,591.0,2305.0,3598.277778,6494.0,17950.0
4,아파트1-104-408,24444,0.001254,576.0,2247.0,3598.277778,6421.0,18023.0
...,...,...,...,...,...,...,...,...
103,아파트1-103-903,24444,0.008777,4030.0,15730.0,3598.277778,23358.0,1086.0
104,아파트1-103-1106,24444,0.008198,3765.0,14693.0,3598.277778,22056.0,2388.0
105,아파트1-103-705,24444,0.00733,3366.0,13137.0,3598.277778,20101.0,4343.0
106,아파트1-103-1505,24444,0.012346,5669.0,22126.0,3598.277778,31393.0,-6949.0
107,아파트1-103-406,24444,0.010192,4680.0,18265.0,3598.277778,26543.0,-2099.0

### GroupDistributor

In [6]:
grp_dist = GroupDistributor(file_path=file_path)

In [14]:
grp_dist.distribute_table()

,가구명,공용부요금,기여도,기여도 기본요금,기여도 전력량요금,나머지 요금,기여도 요금,오차
0,아파트1-104-1206,24444,0.001918,8.0,32.0,24251.222222,24291.0,153.0
1,아파트1-104-303,24444,0.001918,8.0,32.0,24251.222222,24291.0,153.0
2,아파트1-104-1307,24444,0.001918,8.0,32.0,24251.222222,24291.0,153.0
3,아파트1-104-1208,24444,0.001918,8.0,32.0,24251.222222,24291.0,153.0
4,아파트1-104-408,24444,0.001918,8.0,32.0,24251.222222,24291.0,153.0
...,...,...,...,...,...,...,...,...
103,아파트1-103-903,24444,0.008312,35.0,138.0,24251.222222,24424.0,20.0
104,아파트1-103-1106,24444,0.008312,35.0,138.0,24251.222222,24424.0,20.0
105,아파트1-103-705,24444,0.008312,35.0,138.0,24251.222222,24424.0,20.0
106,아파트1-103-1505,24444,0.011509,49.0,191.0,24251.222222,24491.0,-47.0
107,아파트1-103-406,24444,0.011509,49.0,191.0,24251.222222,24491.0,-47.0

In [7]:
grp_dist.set_init()
grp_dist.select_month(1)

In [78]:
grp_dist.set_cont()
grp_dist.set_calc(public_percentage=30)
dist_df = grp_dist.distribute_table()

In [86]:
dist_df.drop_duplicates('기여도').sort_values(['기여도'])

,가구명,공용부요금,기여도,기여도 기본요금,기여도 전력량요금,나머지 요금,기여도 요금,오차
0,아파트1-104-1206,24444,0.030606,130.0,508.0,21363.814815,22002.0,2442.0
5,아파트1-104-203,24444,0.081629,347.0,1355.0,21363.814815,23066.0,1378.0
6,아파트1-103-1402,24444,0.132652,564.0,2201.0,21363.814815,24129.0,315.0
11,아파트1-103-1602,24444,0.183674,781.0,3048.0,21363.814815,25193.0,-749.0
20,아파트1-102-403,24444,0.234697,998.0,3895.0,21363.814815,26257.0,-1813.0
15,아파트1-102-903,24444,0.336742,1432.0,5588.0,21363.814815,28384.0,-3940.0